@font-face {
    font-family: "PokeGB";
    src: url("PokemonGB.ttf") format("truetype");
}
@font-face {
    font-family: "Droid";
    src: url("DroidSansMono.ttf") format("truetype");
}

body {
    background-color: #25dd22;
    background: url(wall.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "PokeGB";
    font-size: 12px;
}

a, #descrip {
    font-family: "Droid";
}

a:link, a:visited, a:active {
    color: white;
    padding: 7px 4px;
    margin: 2px 0px;
    display: inline-block;
}

#navbar {
    float: left;
    width 25%;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 18px;
    background-color: black;
    border: 18px solid transparent;
    border-image: url(raw/window9.png) 18 stretch;
    color
}

p, h2, h3 {
    background-color: black;
    color: white;
    padding: 5px;

}

header {
    padding: 10px;
    background-image: url(raw/tile-a.png);
    background-repeat: repeat;
}

header, header p {
    background-color: transparent;
    width: 100%;
    color: black;
}

div {
    width: 75%;
    float: right;
    margin: 10px;
    border-radius: 18px;
    background-color: black;
    border: 18px solid transparent;
    border-image: url(raw/window9.png) 18 stretch;
}
