@font-face {
    font-family: "PokeGB";
    src: url("PokemonGB.ttf") format("truetype");
}
@font-face {
    font-family: "Droid";
    src: url("DroidSansMono.ttf") format("truetype");
}

body {
    background-color: #25dd22;
    background: url(wall.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "PokeGB";
    font-size: 12px;
}

a, #descrip {
    font-family: "Droid";
}

a:link, a:visited, a:active {
    color: white;
    padding: 7px 4px;
    margin: 2px 0px;
    display: inline-block;
    decoration: none;
}


#navbar {
    width 35%;
    border-radius: 18px;
    background-color: black;
    border: 18px solid transparent;
    border-image: url(raw/window9.png) 18 stretch;
    color: white;
}
#navbar ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#navbar li {
    padding-right: 25px;
}
li a {
    margin: auto;
}

p, h2, h3, h1 {
    background-color: black;
    color: white;
    padding: 5px;

}

#blogblock ul {
    font-family: "PokeGB";
    color: white;
}

header {
    padding: 10px;
    background-image: url(raw/tile-a.png);
    background-repeat: repeat;
    display: flex;

}

header, header p {
    background-color: transparent;
    color: black;
}

div {
    width: 1000px;
    margin: auto;
    border-radius: 18px;
    background-color: black;
    border: 18px solid transparent;
    border-image: url(raw/window9.png) 18 stretch;
}
div.titles {
    width: 60%;
    background-color: transparent;
    border: 0;
}
@media(max-width: 1100px){
    div {
        width: 90%;
        margin: auto;
        border-radius: 18px;
        background-color: black;
        border: 18px solid transparent;
        border-image: url(raw/window9.png) 18 stretch;
    }
}

@media(max-width: 1000px){
    header {
        padding: 10px;
        background-image: url(raw/tile-a.png);
        background-repeat: repeat;
        display: flex;
        flex-direction: column;
    }
    div.titles {
        width: 100%;
        background-color: transparent;
        border: 0;
    }
}
